body {
  background: #232323;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

h1 {
  mix-blend-mode: difference;
}

h1 span {
  text-transform: uppercase;
}

.subTitleContainer {
  background-color: white;
  color: black;
  height: 34px;
}

.subTitle {
  max-width: 550px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  background-color: white;
  padding: 7px;
  font-size: 1.1em;
  font-weight: 700;
  border: none;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #232323;
  color: white;
}

.btn-active {
  background-color: #232323;
  color: white;
}

#message {
  font-size: 1.1em;
  font-weight: 700;
}

#container {
  max-width: 600px;
  margin: 50px auto;
}

.square {
  background: green;
  width: 30%;
  margin: 1.66%;
  padding-bottom: 30%;
  float: left;
  border-radius: 20px;
  transition: 1s ease;
  cursor: pointer;
}
