body {
  background: #232323;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0;
}

h1 {
  mix-blend-mode: difference;
  margin: 0;
  padding: 20px 0;
  font-weight: normal;
  line-height: 1.3;
}

h1 span {
  text-transform: uppercase;
  font-size: 1.5em;
}

.subTitleContainer {
  background-color: white;
  color: black;
  height: 34px;
}

.subTitle {
  max-width: 550px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subTitleInner {
  height: 100%;
}

button {
  background-color: white;
  height: 100%;
  margin: none;
  font-size: 1.1em;
  font-weight: 700;
  border: none;
  cursor: pointer;
  outline: none;
  transition: 0.75s ease;
  -webkit-transition: 0.75s ease;
  -moz-transition: 0.75s ease;
}

button:hover {
  background-color: #232323;
  color: white;
}

.btn-active {
  background-color: #232323;
  color: white;
}

#message {
  font-size: 1.1em;
  font-weight: 700;
}

#container {
  max-width: 600px;
  margin: 50px auto;
}

.square {
  background: green;
  width: 30%;
  margin: 1.66%;
  padding-bottom: 30%;
  float: left;
  border-radius: 15%;
  transition: 1s ease;
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  cursor: pointer;
}

@media (max-width: 400px) {
  button,
  #message {
    font-size: 0.7em;
    font-weight: 600;
  }

  h1 span {
    font-size: 1.25em;
  }
}
